# Line Comments.
#FeedGen Configuration File

# ) Number of rows per line.
) 4

# ! Character List #1.
! abcdefghijklmnopqrstuvwxyz
# ! Character List #2 & etc.
! 0123456789
! !@#$%^&*()
! ~{}:;.,`?<>
! / -_|+=

# ( Number of options per row !Dont change unless you want errors!
( 5

# ) Row configuration Start.
# Row #0
)
# Character list for the row. !Always begin counting at 0!
1
# Length in characters of row.
3
# Character list for the after row.
4
# Index number of a character in the character list. !Must not be longer then the character list itself!
1
# Length in characters of the after row.
5

# Row #1
)
2
6
4
1
2

# Row #2
)
3
6
4
0
2

# Row #3
)
1
10
0
0
0



# End Of Configuration File.
